
.container {
  max-width: 650px;

  @screen sm {
    max-width: 750px;
  }

  @screen md {
    max-width: 900px;
  }
}

.twitter-card {
  @apply mt-8 mb-8 rounded bg-yellow-lighter px-6 py-8 sm:mt-10 sm:mb-10 md:px-10;

  & &-title {
    @apply mt-0 font-body text-lg font-normal text-blue-dark dark:text-blue-dark sm:text-xl;
  }

  & &-source {
    @apply block pt-2 font-body text-sm font-light text-blue-dark underline;
  }

  & &-btn {
    @apply mt-8 mb-0 inline-block border border-blue-dark px-5 py-2 font-body font-semibold text-blue-dark no-underline transition-colors hover:bg-primary hover:text-white sm:mb-4;
  }
}

.category-elementary-school {
  @apply text-green-600 bg-green-300
}

.category-high-school {
  @apply text-yellow-600 bg-yellow-300
}

.category-university {
  @apply text-red-600 bg-red-300
}

.category-networking {
  @apply text-blue-600 bg-blue-300
}

.category-engineering {
  @apply text-white bg-black
}

.category-noc {
  @apply text-blue-200 bg-blue-600
}

.category-developer {
  @apply text-emerald-600 bg-emerald-300
}

.category-front-end {
  @apply text-teal-600 bg-teal-300
}

.category-fullstack {
  @apply text-indigo-600 bg-indigo-300
}
